<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
     <div class="container ">
        <div class="row">
            <div class="col col-12 col-sm-4">
<div class="jumbotron">
  <h1>contact us</h1> 
  <p>calicut,kerala</p> 
</div>
            </div>
            <div class="col col-12 col-sm-4">
<form method="POST" action="/getdata">
                    <table class="table">
                            <tr>
                                <td>Name</td>
                                <td><input type="text" id="name" name="getname" required></td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td><input type="text" id="addr" name="getaddr" required></td>
                            </tr>
                            <tr>
                                <td>Place</td>
                                <td><input type="text" id="place" name="getplace" required></td>
                            </tr>
                            <tr>
                                <td>Mobile</td>
                                <td><input type="number" id="col" name="getmob" required></td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><input type="text" id="email" name="getemail" required></td>
                            </tr>
                            
                            <tr>
                                <td></td>
                                <td><button type="submit" class="myregister" >Submit</button></td>
                            </tr>
                        </table>
                        </form>
            </div>
            <div class="col col-12 col-sm-4"></div>
        
        </div>
    </div>
</body>
</html>