 <h3>hello {{name}} </h3>  <!--data from backend variable name is calle -->
 <div class="container">
     
        <div class="row">
            <div class="col col-sm-6">
            <h1 style="color:blue;">welcome to ict academy</h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cum neque fugiat labore dolor ea quis sint maiores molestias perferendis aspernatur a eos ex velit, ratione ad nobis repellat alias?
            </div>
            <div class="col col-sm-6">
                <h1 style="color:red;">full stack course</h1>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi magni rem dolorum saepe, quisquam quibusdam distinctio, corrupti accusantium iste molestiae, ullam voluptate nostrum exercitationem est doloremque explicabo cupiditate dignissimos et?
         </div>
        </div>
    </div>